.sortControls {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  h3 {
    font-weight: 700;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
  }

  .selectGroup {
    display: flex;
    gap: 16px;

    select {
      padding: 8px 12px;
      border-radius: 8px;
      border:none;
      font-weight: 400;
      font-size: 18px;
      cursor: pointer;
      background-color: #fff;
      transition: border 0.2s;
      &:hover {
        border-color: rgba(110, 187, 211, 1);
      }
      &:focus {
        outline: none;
        border-color: rgba(110, 187, 211, 1);
        box-shadow: 0 0 4px rgba(110, 187, 211, 0.5);
      }
    }
  }
}
.cats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px 80px;
  flex-wrap: wrap;
}
