.card {
  width: 380px;
  height: 480px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.5s forwards;
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .imageIcon {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .icon {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 36px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.5);
    }
    .sale {
      border-radius: 8px;
      padding: 12px;
      background-color: rgba(229, 45, 45, 1);
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      color: rgba(255, 255, 255, 1);
    }
  }

  .content {
    padding: 16px;
    .title {
      font-weight: 700;
      font-size: 24px;
      color: rgba(0, 0, 0, 1);
    }
    .info {
      margin: 20px 0;
      padding-left: 20px;
      border-left: 4px solid rgba(110, 187, 211, 1);
      display: flex;
      gap: 30px;
      span {
        line-height: 1.2;
        font-weight: 400;
        font-size: 12px;
      }
      h5 {
        font-weight: 700;
        font-size: 16px;
      }
    }
    .price {
      font-weight: 700;
      font-size: 24px;
      color: rgba(0, 0, 0, 1);
    }
  }
  .button {
    width: 100%;
    padding: 20px 0;
    background-color: rgba(110, 187, 211, 1);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px;
    &:hover {
      background-color: #5aa7d9;
    }
  }
}
