* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
a,
button {
  cursor: pointer;
}
li {
  list-style: none;
}
input,
textarea,
select {
  outline: none;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
