.header {
  margin-bottom: 40px;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(
      rgba(31, 32, 33, 0.79),
      rgba(31, 32, 33, 0.79)
    ),
    url("../../../assets/images/header.image.png");
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
    opacity: 0;
    transform: translatey(-120px);
    animation: fadeUp 1.1s forwards;
    @keyframes fadeUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 480px;
      a {
        font-weight: 400;
        font-size: 18px;
      }
    }
    h4 {
      margin-left: 300px;
      font-weight: 700;
      font-size: 24px;
      text-align: right;
      span {
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    h1 {
      font-weight: 700;
      font-size: 45px;
      color: rgba(255, 255, 255, 1);
    }
    a {
      display: flex;
      align-items: end;
      font-weight: 400;
      font-size: 18px;
      text-decoration: underline;
      color: rgba(255, 255, 255, 1);
    }
  }
}
