.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(31, 32, 33, 1);
  padding: 100px 100px;
  margin: 80px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  .title {
    text-align: left;
    h1 {
      font-weight: 700;
      font-size: 48px;
      color: rgba(255, 255, 255, 1);
    }
    p {
      font-weight: 400;
      font-size: 28px;
      color: rgba(255, 255, 255, 1);
      margin-top: 8px;
    }
  }
  .form {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    .inputGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      .input {
        width: 280px;
        height: 65px;
        padding: 12px 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
        transition: border 0.3s;
        &:focus {
          border-color: #7bc1f7;
        }
      }
      .checkboxLabel {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
        input {
          cursor: pointer;
        }
      }
    }
    .button {
      background-color: rgba(110, 187, 211, 1);
      color: #fff;
      font-weight: 600;
      width: 250px;
      height: 65px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s;
      font-family: Montserrat;
      font-weight: 700;
      font-size: 14px;
      &:hover {
        background-color: #5aa7d9;
      }
    }
  }
}